html,body{
    width:auto;
    margin:auto;
    min-width:auto;
    max-width:auto;
    overflow-y: auto;
    margin-bottom: 0;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 500;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
#bot{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 500;
    width: 98%;
}
#navbar{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}
#nav, #navlink:link, #navlink:visited{
    float:left;
    display: block;
    color: #19D3DA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}
#nav-audio{
    float: right;
    padding: 14px 16px;
}

#educ-bullets{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    list-style-type: none;
}
#about-desc{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
#cred{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    width: 82px;
    font-size: 15px;
    font-weight: 400; 
    background-color: #32AFA9;
    text-align: center;
}
.center-controller{
    padding-top: 15px;
    max-width: 7%;
    height: auto;
    padding-bottom: 15px;
}
.pfp{
    padding: 20px;
    margin: auto;
    max-width: 20%;
    height: auto;
    border-radius: 50%;
}
/*home section*/
.top-container{
    padding: 50px;
    height: 310px;
    background-color: #f5d48c;
    text-align: center;
    vertical-align:-webkit-baseline-middle;
}   

/*about section*/
.about{
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
    background-color: #f6ffd4;
    text-align: center;
}
.educ{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    height: 200px;
    background-color: #A4D4AE;
}
.int{
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    height: 900px;
    background-color: #f7dba0;
    text-align: center;

}
#tv{
    font-family: 'Raleway', sans-serif;
    width: 50%;
    text-align: left;
    font-size: 25px;
    padding-top: 4%;
}
#tv-int{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 20px;
}
.tv{
    margin: auto;
    width: 15%;
    float: left;
    padding: 1%;
}
#game{
    font-family: 'Raleway', sans-serif;
    width: 80%;
    text-align: right;
    font-size: 25px;
    padding-top: 2.5%;
}
.game{
    margin: 10px;
    width: 17%;
    float: right;
    padding: 1%;
}
#game-int{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 20px;
}
#kb{
    font-family: 'Raleway', sans-serif;
    width: 50%;
    text-align: left;
    font-size: 25px;
    padding-top: 4%;
}
.kb{
    margin: auto;
    width: 15%;
    float: left;
    padding: 1%;
}
#kb-int{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 20px;
}
#listen{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    text-align: right;
    font-size: 25px;
    padding-top: 2.5%;
}
.listen{
    margin: auto;
    width: 15%;
    float: right;
    padding: 1%;
}
#listen-int{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 20px;
}
/*bottom section*/
.bottom-container{
    padding: 20px;
    height: 130px;
    background-color: #32AFA9;
    text-align: center;
}
.btn {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    width: 82px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    background-color: #32AFA9;
    border: solid #32AFA9 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #95DAC1;
    border: solid #95DAC1 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
 }

.btn2 {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    width: 82px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    background-color: #32AFA9;
    border: solid #32AFA9 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn2:hover {
    background: #95DAC1;
    border: solid #95DAC1 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
 }
.btn3 {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    width: 82px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    background-color: #32AFA9;
    border: solid #32AFA9 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn3:hover {
    background: #95DAC1;
    border: solid #95DAC1 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
 }
 .divider{
    width:30px;
    height:auto;
    display:inline-block;
}